<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dressme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.dressMe">
<!--        <meta-data-->
<!--            android:name="com.google.android.actions"-->
<!--            android:resource="@xml/ic_close_white_24dp" />-->

        <activity
            android:name="Activities.update_detalis_supplier"
            android:exported="false" />
<!--        <activity-->
<!--            android:name="Activities.test"-->
<!--            android:exported="false" />-->
        <activity
            android:name="Activities.UpdateDetailsClient"
            android:exported="false" />
        <activity
            android:name="Activities.SupplierRegister"
            android:exported="false" />
        <activity
            android:name="Activities.SearchResults"
            android:exported="false" />
        <activity
            android:name="Activities.SearchHistory"
            android:exported="false" />
        <activity
            android:name="Activities.ProductDetailsClient"
            android:exported="false" />
        <activity
            android:name="Activities.ProductDetails"
            android:exported="false" />
        <activity
            android:name="Activities.AddDress"
            android:exported="false" />
        <activity
            android:name="Activities.PrivateZone"
            android:exported="false" />
        <activity
            android:name="Activities.MainSupplier"
            android:exported="false" />
        <activity
            android:name="Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name="Activities.GmachStockSupplier"
            android:exported="false" />
        <activity
            android:name="Activities.GmachStockClient"
            android:exported="false" />
        <activity
            android:name="Activities.GmachDetails"
            android:exported="false" />
        <activity
            android:name="Activities.GmachCustomers"
            android:exported="false" />
<!--        <activity-->
<!--            android:name="Activities.Dialog"-->
<!--            android:exported="false" />-->
        <activity
            android:name="Activities.ClientRegister"
            android:exported="false" />
        <activity
            android:name="Activities.Chat"
            android:exported="false" />
        <activity
            android:name="Activities.AddDressActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name="Activities.DressesListActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_supplier_main"-->
<!--            android:theme="@style/Theme.dressMe.NoActionBar" />-->

        <activity
            android:name="Activities.loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>